<%= title "Sign In Using:", :h2 %>
<% form_tag session_path do %>
    <fieldset>
        <legend><%= SITE_NAME %></legend>
        <ul>
            <li>
                <%= label_tag 'login', 'Username <em class="smaller">(or Email)</em>:' %>
                <%= text_field_tag 'login', @login %>
            </li>
            <li>
                <%= label_tag 'password', 'Password:' %>
                <%= password_field_tag 'password', nil %>
            </li>
            <li class="checkbox">
                <%= label_tag 'remember_me', 'Remember me' %>
                <%= check_box_tag 'remember_me', '1', @remember_me %>
            </li>
            <li class="buttons">
              <%= link_to 'Forgot Password?', forgot_password_path %>
              <%= submit_tag 'Submit' %>
            </li>
        </ul>
    </fieldset>
    <%= render :partial => 'shared/openid', :locals => {:label => 'Sign in'} %>
<% end -%>
