<% @user.password = @user.password_confirmation = nil %>
<%= title "Create Account", :h2 %>
<% form_for @user do |f| %>
    <%= f.error_messages %>
    <fieldset>
        <legend>Using <%= SITE_NAME %></legend>
        <ul>
            <li>
                <%= f.label 'login', 'Username:' %>
                <%= f.text_field 'login' %>
            </li>
            <li>
                <%= f.label 'email', 'Email:' %>
                <%= f.text_field 'email' %>
            </li>
            <li>
                <%= f.label 'password', 'Password:' %>
                <%= f.password_field 'password' %>
            </li>
            <li>
                <%= f.label 'password_confirmation', 'Confirm Password:' %>
                <%= f.password_field 'password_confirmation' %>
            </li>
            <li class="buttons">
                <%= submit_tag 'Create Account' %>
            </li>
        </ul>
    </fieldset>
    <%= render :partial => 'shared/openid', :locals => {:label => 'Create account'} %>
<% end %>
